/* pOUR les pages d'inscription, connexion, et mt de passe oubliet */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body{
  width: 100%;
  height: 100vh;
  background: #383838;
  color: white;
  font-family: "Roboto", sans-serif;
}

.pagelogin {
  background-color: #fff;
  margin-top: 2rem;
  color: #383838;
  max-width: 400px;
  margin: auto;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;   
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.login_top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3rem;
}

.login_name{
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.titree {
  text-align: center;
  font-size: 1rem;
  color: rgb(68, 61, 61);
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

.img_link {
  margin-top: -1rem; 
}

.div_form{
  margin-top: 0.3rem;
}

label {
  margin-bottom: 5px; 
  display: block;
}

.div_label{
  display: flex;
}
.div_label p{
  margin-left: 1rem;
  margin-top: 1rem;

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="check"] {
  width: 100%;
  padding: 8px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

input:focus {
  outline: none; 
  border-color: #000;
}

input[type="check"] {
  width: auto; 
  margin-left: 0; 
}

/* Espacement pour le bouton */
button {
  margin-top: 10px;
  padding: 10px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: grey;
}

.div_link{
  text-align: center;
  margin-top: 1rem;
}

.div_link a{
  text-decoration: none;
  color: orange;
}

.div_link2{
  margin-top: -0.3rem;
}

/* Fin de accieul */

.div_main{
  display: flex;
  background-color: #e0dcdc;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.div_main1{
  display: flex;
  background-color: #e0dcdc;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1, h5 {
  font-weight: bold;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #fff;
  width: 100%; 
  z-index: 1000;
}

.search{
  position: relative;
}

.search .form{ 
  margin-left: -1rem;
}

.search_icon{
  color: #383838;
  position: absolute;
  left: 5px;
  right: 0;
  top: 0.2rem;
}

.header_dashboard{
  /* padding: 5px; */
  margin: 0;
  padding: 0.3rem 1rem;
  height: 25%;
  margin-top: 30px;
  background-color: #fff;
}

.headerhotel{
  padding-top: 7rem;
  margin: 0;
  height: 15%;
  background-color: #fff;
}

.button{
  border: 1px solid #383838 !important;
  border-radius: 0.5rem;
  background: none;
  color: #383838;
}
.button:hover{
  background:#fff;
  color: #383838;
}

.navbar-brand {
  display: flex;
  margin-left:   18.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar input[type="search"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.navbar .btn-outline-primary {
  border-radius: 20px;
}

.navbar .icon {
  font-size: 1.5rem;
}

/* Stats Card styles */
.card {
  transition: transform 0.3s ease;
  width: 100%;
  height: 50px;
}

.card:hover {
  transform: scale(1.05);
}

.hotels_stats a{
  text-decoration: none;
  width: 100vh;
}

.close{
border: none;
background: none;
color: #383838;
margin-left: auto;
font-size: 1rem;
font-weight: bold;
}

.close:hover{
  border: none;
  background: none;
  color: #383838;
  margin-left: auto;
  font-size: 1rem;
  font-weight: bold;
  }

.forme {
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: inherit;
}

.modal-content {
  position: relative;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100% !important;
  color: var(--bs-modal-color);
  pointer-events: auto;
  padding: 1rem;
  background-color: var(--bs-modal-bg);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

input.form{
  border: 1px solid #969696;
  border-radius: 0.7rem;
  width: 100%;
}

input.form-select{
  border: 1px solid #969696;
  border-radius: 1rem;
  width: 90%;
}

.btn3{
  margin-left: 75%;
  border-radius: 0.5rem;
}

.loader {
  border: 5px solid #f3f3f3; 
  border-top: 5px solid #3498db; 
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.div_container{
  display: inline;
  justify-content: center;
  margin: auto;
 
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
}

.upload-container {
  position: relative;
}

.upload-input {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-input-file {
  display: none; 
}

.upload-icon {
  margin-bottom: 10px;
}

.upload-text {
  color: #666;
}
@media screen and (min-width: 320px){
  .navbar-brand {
    display: flex;
    margin-left: 6rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px){
  .navbar-brand {
    display: flex;
    margin-left: 6rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 1024px){
  .navbar-brand {
    display: flex;
    margin-left:   18.5rem;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
